@import "../../styles/variables.scss";

.card-component {
  background: $white;
  padding: 1rem;
  margin: 0.5rem 0;
  transition: $transition;
  &:hover {
    transform: scale(1.05);
    transition: $transition;
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      transform: scale(1.02);
    }
  }
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}
