.card-component {
  background: white;
  padding: 1rem;
  margin: 0.5rem 0;
  transition: all 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
    @media screen and (min-width: 550px) and (max-width: 1440px) {
      transform: scale(1.01);
    }
  }
  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}
