@import "./styles/variables.scss";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2.5rem;
  color: #31393f;

  @media (max-width: 1440px) {
    padding: 1rem;
    .board-component {
      width: auto;
      margin: 1rem 0;
      display: block;
    }
  }
}

code {
  font-size: 12px !important;
  color: $blue;
  text-decoration: underline;
  @extend .cursor-pointer;
}

body,
button,
input {
  font-family: $font-family, sans-serif;
}

button,
input,
.card-component,
.board-component {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.d-f {
  display: flex;
}

.f-d-c {
  flex-direction: column;
}

.m-05 {
  margin: 0.5rem;
}

.m-05-0 {
  margin: 0.5rem 0;
}

.m-b-2d5 {
  margin-bottom: 2.5rem;
}

.j-c-sb {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.red-on-hover {
  &:hover {
    color: $red;
  }
}
